.top-background {
  background-color: #fffbf0;
}

.logo {
  max-width: 250px;
  padding: 0 10px;
  overflow: hidden;
}
.logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
}
.logo a img {
  max-width: 100%;
  max-height: 60px;
}
.top-h1 {
  font-size: 70px;
  color: #fabe4c;
}
.top-h11 {
  font-size: 70px;
  color: #363958;
}
p {
  color: #3e3e3e;
  margin-bottom: 50px;
}
.link-button {
  color: white;
  background-color: #a4bc46;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 700;
  border-radius: 5px;
}

.top-img {
  width: 500px;
  height: 500px;
  margin: auto;
  margin-left: 100px;
}

.women-button {
  color: white;
  background-color: #a4bc46;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 700;
  border-radius: 10px;
}
.price {
  color: #fabe4c;
  font-size: 35px;
  font-weight: bold;
}
.card-h3 {
  color: #363958;
}
.women-border {
  border-radius: 14px;
}
.women-cloth-border {
  border: 5px red;
  border-radius: 25px;
}
.categories h1{
  color: #363958
}
.shop-img{
  
  width: 90px;
}
.cat1, .cat2, .cat3{
  padding: 0px 25px;
  border-radius: 30px;
}
.last-img{
  height: 500px;
  width: 100%;
}
.subscrib{
  height: 300px;
  background-color: #a4bc46;

}
.subscrib-button{
  background-color: black;
  color: whitesmoke;
  
  padding: 8px 8px;
  text-decoration: none;
  font-size: 700;
  border-radius: 10px;
}
}

@media (min-width: 783px) and (max-width: 1413px) {
  .women-button {
    color: white;
    background-color: #a4bc46;
    padding: 4px 4px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
  }
}